<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img src="assets/transparent-task-logo.png" alt=""></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pass-area">
    <ion-label>Current Password</ion-label>
    <ion-input class =" input-box"></ion-input>
    <br><br>
    <ion-label >New Password</ion-label>
    <ion-input class =" input-box"></ion-input>
    <br><br>
    <ion-label>Confirm Password</ion-label>
    <ion-input class =" input-box"></ion-input>
    <br><br>
    <ion-button class ="orange-button" href="/folder/dashboard" color="#ec5b5b">Update</ion-button>
  </div>
  
   
</ion-content>
