.pass-area{
    position: relative;
    top: 50px;
    margin: 30px;
    
}
.input-box{
    border: 1px solid black; 
    border-radius: 50px;
    height: 35px;
}
  

.orange-button{
    border-radius: 20px;
    height: 55px;
    background-color: #ec5b5b;
    width: 100%;
}