<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img src="assets\task-tutorials-logo.png" alt=""></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="pass_area">
    <ion-grid>
      <ion-row>
        <ion-col>
          <label >Current Password</label>
        </ion-col>
        <ion-col>
          <input type="password"  type="password">
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>
          <label >New Password</label>
        </ion-col>
        <ion-col>
          <input type="password"  type="password">
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col>     
          <label >Re-Enter Password</label>
        </ion-col>
        <ion-col>
          <input type="password"  type="password">
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <br>
    <br>
    <ion-button shape="round" href="https://www.google.com">Change Password</ion-button>
  </div>
  
   
</ion-content>
