ion-menu-button {
    // color: var(--ion-color-primary);
    color:black;
}

.about-class{
    --ion-background-color: #ec5b5b;
     color: white;
}
.courses{
    background-color:#ebe9e9;
    margin-top:5px;
    padding: 0 5px;
    border-radius: 3px;
}

.list-item{
 
    margin:  10px 16px;
    border: 1px solid black;

    
}
  
.folder-icon{
    color:#ec5b5b;
    
}
