<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title><ion-img src="assets\transparent-task-logo.png" ></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <div class="background_color">
    <h1>Zoom Meeting</h1>
    <div class="meeting-zone">
      <h2>VIII PCMB</h2>
        <ion-label>By:<ion-label class="nameOfTeacher">Prarambh Nigham</ion-label><br><div class="timing">11:00 to 12:00</div></ion-label>
        <ion-button shape="round" class ="button_"><ion-img></ion-img>Join Meeting</ion-button>
    </div>
    <div class="meeting-zone">
      <h2>Xth Biology</h2>
        <ion-label>By:<ion-label class="nameOfTeacher">biology</ion-label><br><div class="timing">16:00 to 19:00</div></ion-label>
        <ion-button shape="round" class ="button_"><ion-img></ion-img>Join Meeting</ion-button>
    </div>
    <div class="meeting-zone">
      <h2>XIth Biology</h2>
        <ion-label>By:<ion-label class="nameOfTeacher">biology</ion-label><br><div class="timing">12:00 to 15:00</div></ion-label>
        <ion-button shape="round" class ="button_"><ion-img></ion-img>Join Meeting</ion-button>
    </div>
    <div class="meeting-zone">
      <h2>XIIth Biology</h2>
        <ion-label>By:<ion-label class="nameOfTeacher">biology</ion-label><br><div class="timing">08:00 to 11:00</div></ion-label>
        <ion-button  shape="round" class ="button_"><ion-img></ion-img>Join Meeting</ion-button>
    </div>
  </div>
</ion-content>
