ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.heading{
  padding: 3px 0 3px 15px;
}

.about-class{
 --ion-background-color: #ec5b5b;
  color: white;
}

.layer-icon{
  color: white;
}

.list-item{
 
  margin:  10px;
  border: 1px solid black;
  
}

.folder-icon{
  color:#ec5b5b;
  
}

.label-item{
  margin-left: 10px;
}
