.orange_notes_area{
    --ion-background-color: #ec5b5b;
     color: white;
}
.drop_down-cource{
    background-color:#ebe9e9 ;
    border-radius: 4px;
    margin-top: 6px;
    padding: 5px;
}
.drop_down-topic{
    background-color:#ebe9e9 ;
    border-radius: 4px;
    margin-top: 6px;
    padding: 5px;
}

.folder-box{ 
    margin: 16px;
    border: 1px solid black;   
    font-size:20px ;
    font-weight:400 ;
}
.folder-logo{
    color:#ec5b5b;
    
}
.timmer{
    font-size: 17px;
    color:rgb(149, 139, 139);
    padding-top: 5px;
}


