.orange_notes_area{
    --ion-background-color: #ec5b5b;
     color: white;
}

.drop_down{
    background-color:#ebe9e9;
    margin-top: 6px;
    padding: 5px;
    border-radius: 4px;
}

.folder-box{ 
    margin:  10px 16px;
    border: 1px solid black;    
}
.folder-logo{
    color:#ec5b5b;
    
}