.orange_notes_area{
    position: relative;    
    background-color: orangered;
    min-height: 40px;
}
.white_notes{
    position: relative;
    color: white;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
