<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
    <ion-title><ion-img src="assets\transparent-task-logo.png" ></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="orange_notes_area">
      <ion-label>Notes</ion-label>
  </ion-item> 


  <ion-list>
    <ion-item>
      <ion-select aria-label="course" class="drop_down" interface="popover"  placeholder="VIIIth PCMB">
        <ion-select-option  value="VIIIth PCMB">VIIIth PCMB</ion-select-option>
        <ion-select-option value="Xth Biology">Xth Biology</ion-select-option>
        <ion-select-option value="IXth Biology">IXth Biology</ion-select-option>
        <ion-select-option value="Xth Chemistry">Xth Chemistry</ion-select-option>
        <ion-select-option value="PCMB">PCMB</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item class="folder-box">
    <ion-icon name="folder-open" slot="start" class="folder-logo" size="large"></ion-icon>
    <ion-label >VIIIth PCMB</ion-label>
  </ion-item>

</ion-content>
  