<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>      
    </ion-buttons>
    <ion-title><img src="assets/transparent-task-logo.png" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="orange_notes_area">
    <ion-label>Attendance</ion-label>
  </ion-item> 

  <ion-grid>
    <ion-row class ="col-name-line" >
      <ion-col>
        Date
      </ion-col>
      <ion-col>
        Attendance
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="text-change">
  <ion-label   color = "danger">Sorry no record available</ion-label></div>
</ion-content>
