.orange_notes_area{
    --ion-background-color: #ec5b5b;
     color: white;
}
.col-name-line{
    border-bottom: 1px solid black ;
    padding: 10px;
    font-weight: 600;
}
.text-change{
    text-align: center;
    padding: 10px;
}